@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

body {
  font-family: sans-serif, serif, 'cursive';
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 300px;
  background-color: whitesmoke;
  color: #5f7464;
}

ul,
h1,
h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Rubik Moonrocks', 'cursive', sans-serif;
  color: #e4aec5;
  transition: transform 2s;
}

h1:hover {
  transform: scale(0.9);
  cursor: pointer;
}

a,
button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  padding: 1em;
  background-color: #fad9e6;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
  max-width: 400px;
  min-width: 250px;
  background-color: #fad9e6;
  padding: 2em;
  border-radius: 2em 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.left .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.left .header a,
.right .add .button-wrapper button {
  font-size: 0.8em;
  font-weight: bold;
  background-color: #e4aec5;
  border-style: none;
  border-radius: 2em 1em;
  padding: 1em;
  color: #5f7464;
  transition: border-radius 1s;
}

.left .header a:hover,
.right .add .button-wrapper button:hover {
  color: #243d25;
  border-radius: 1em 0.5em;
}

.left .list {
  overflow-y: auto;
  border: 0.1em solid #e4aec5;
  max-height: 150px;
}

/* width */
.left .list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.left .list::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.left .list::-webkit-scrollbar-thumb {
  background: #e4aec5;
  border-radius: 1em;
}

.left .list .listItem {
  padding: 0.1em;
}

.right .add,
.right .add div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right .add div input {
  border-style: none;
  padding: 0.3em;
  background-color: whitesmoke;
}

.right .add .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
